/* -------------- agents -------------- */

.agents {
    background: #f6f5f4;
    padding-top: 60px;
    margin-top: 30px;
}

.agents h2 {
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.agents p {
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}

.agents p:nth-child(3) {
    margin-bottom: 150px;
}

.agent-block {
    display: flex;
    justify-content: space-between;
}

.agent-card {
    margin-bottom: 50px;
    max-width: 344px;
    min-width: 344px;
    /* min-width: 100%; */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.agent-card img {
    width: 344px;
}

.agent-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.agent-info {
    padding-top: 10px;
    padding-left: 25px;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

.name-email .email {
    margin-right: 20px;
    font-size: 17px;
    color: #ffcc01;
}

.agent-block .phone {
    margin-right: 20px;
    font-size: 17px;
    color: #ffcc01;
}

.agent-cards {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: 95px;
}

.agent-desc {
    display: flex;
    /* justify-content: space-between; */
}

.description h2 {
    font-size: 25px;
}

.agent-uslugi {
    margin-top: -57px;
    margin-left: 30px;
}

.uslugi-list {
    margin-left: 40px;
    margin-bottom: 40px;
    line-height: 50px;
    font-size: 18px;
    list-style: none;
}

.uslugi-link {
    color: #000;
    text-decoration: none;
}

.uslugi-link:hover {
    color: #ffcc01;
}

@media screen and (max-width: 769px) {
    .agent-desc {
        display: block;
    }
    .agent-card {
        margin-top: 10px;
        margin-left: 80px;
        min-width: 0px;
    }
    .description h2 {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .name-email .email {
        font-size: 15px;
    }
    .agent-card {
        margin-left: 40px;
        max-width: 300px;
    }
    .agent-card img {
        max-width: 100%;
    }
    .description .agent-uslugi {
        font-size: 23px;
        margin-left: 3px;
    }
}