/* -------------- 1 block -------------- */

.intro {
    margin-top: 25px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background: url(../img/room.jpg) no-repeat;
    max-width: 100%;
    width: 965px;
    height: 640px;
}

.intro .intro-text {
    position: absolute;
    font-size: 62px;
    right: 750px;
    top: 220px;
}

.intro-contacts {
    background-color: #ffcc01;
    max-width: 590px;
    position: absolute;
    top: 638px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contacts i {
    color: #fff;
    margin-right: 30px;
}

.intro-contacts p {
    font-size: 18px;
    margin-right: 60px;
}

#second_btn {
    text-decoration: none;
    color: #000;
}

#second_btn:hover {
    color: #fff;
}


/* -------------- 2 block -------------- */

.serv-container {
    display: flex;
    margin-top: 70px;
}

.services img {
    /* при изменении экрана, изображение будет меняться */
    width: 100%;
    height: auto;
}

.serv-img-container {
    width: 58%;
}

.serv-text {
    width: 42%;
    margin-left: 3%;
}

.serv-text p {
    margin-bottom: 60px;
}

.wrapper2 {
    background: #f0f0f0;
}

.services {
    margin-top: 80px;
}

.services h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 80px;
}

.services p {
    font-size: 13px;
    line-height: 30px;
}

.services h4 {
    font-size: 25px;
    margin-bottom: 25px;
}


/* -------------- 4 block form -------------- */

.c-header2 {
    padding-top: 30px;
    padding-left: 30%;
    padding-bottom: 80px;
    font-size: 50px;
}

.c-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 10px;
}

.c-header {
    background-color: #f0f0f0;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.c-header:before {
    content: "";
    top: 0;
    left: 0;
}

.c-header-body {
    display: flex;
    align-items: center;
}

.c-header-logo {
    flex: 0 0 90px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.c-header-logo img {
    max-width: 100%;
    display: block;
}

.media-body {
    margin-left: 15px;
}

.media-heading {
    /* margin-top: 5px; */
    margin-bottom: 3px;
}

.feedback-text {
    background-color: #fff;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    font-style: italic;
}

.feedback-text:before {
    content: "";
    display: block;
    position: absolute;
    top: -2rem;
    left: 4rem;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    border-top-right-radius: 100px;
}

.c-cards {
    /* все потомки - grid-элементы */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 - размер строки, 1fr - единица гипкости. */
    grid-template-rows: repeat(2, 1fr);
    /* отступы между элементами */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.c-header ul,
.c-header li {
    /* margin: 0;
  padding: 0; */
    list-style-type: none;
}

.c-header li {
    display: inline-block;
    /* width: 600px;
  height: 370px; */
    overflow: hidden;
    /* overflow: visible; */
    position: relative;
}

@media screen and (max-width: 767px) {
    /* -------------- 1 block -------------- */
    .intro {
        margin-top: 0px;
        display: block;
        margin-bottom: 0px;
        max-width: 100%;
    }
    .intro-img {
        /* настройка изображения на телефоне */
        background-position: bottom -20px right -400px;
    }
    .intro .intro-text {
        position: relative;
        font-size: 35px;
        /* right: -10px; */
        right: 0px;
        padding-left: 10px;
        text-outline: 95px;
    }
    .intro .intro-contacts {
        right: 0;
        top: -60px;
        padding: 20px 10px;
        position: relative;
    }
    .intro-contacts i {
        margin-right: 10px;
    }
    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
        margin-top: 5px;
    }
    /* -------------- 2 block -------------- */
    .serv-container {
        margin-top: 20px;
        flex-direction: column;
    }
    .serv-img-container {
        /* ПРОВЕРЬ */
        /* width: 100%; */
    }
    .serv-text {
        /* ПРОВЕРЬ */
        /* width: 100%; */
        display: block;
    }
    .services {
        margin-top: 0px;
    }
    .services h2 {
        margin-left: 20px;
    }
    .serv-desc {
        margin-left: 20px;
    }
    /* -------------- 4 block form -------------- */
    .c-header2 {
        padding-top: 60px;
        padding-bottom: 60px;
        /* margin-right: 20px; */
        margin-left: -50px;
        font-size: 27px;
    }
    .c-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /* grid-column-gap: 0px; */
        grid-row-gap: 0px;
        justify-items: center;
    }
}

@media screen and (max-width: 450px) {
    /* -------------- 2 block form -------------- */
    .serv-container {
        margin-top: 20px;
        flex-direction: column;
    }
    .serv-img-container {
        width: 100%;
    }
    .serv-text {
        width: 90%;
        /* display: block; */
    }
    .services h2 {
        margin-left: 15px;
    }
}