{% extends 'base.html' %}
{% load static %}
{% block title %}Prowork{% endblock %}
{% block stat %}
<link rel="stylesheet" href="{% static 'css/general_style.css' %}">
<script
      src="https://kit.fontawesome.com/6244ce2d4b.js"
      crossorigin="anonymous">
</script>
<script src="{% static 'js/general_script.js' %}"></script>
{% endblock %}

{% block general %}


<div class="m-menu-wrapper">
  <header class="m-header">
    <div class="m-container">
      <div class="m-header-body">
        <a href="{% url "general:city_url" city_url=city %}" class="m-header-logo">
          <img src="{% static 'img/logo.jpg' %}" alt="">
        </a>
        <div class="m-header-burger">
          <span></span>
        </div>
        <nav class="m-header-menu">
          <ul class="m-header-list">
            <li>
              <a href="#anch-start" class="m-header-link gen_menu">К началу</a>
            </li>
            <li>
              <a href="#anch-about" class="m-header-link gen_menu">О нас</a>
            </li>
            <li>
              <a href="#anch-uslugi" class="m-header-link gen_menu">Услуги</a>
            </li>
            <li>
              <a href="#anch-feedback" class="m-header-link gen_menu">Отзывы</a>
            </li>
            <li>
              <a href="#anch-contacts" class="m-header-link gen_menu">Контакты</a>
            </li>
            <li>
              <a id="myBtn" href="#" class="m-header-link m-button">{{ city }}</a>

             <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Выбрать город:</h2>
                <div class="check">
                <ul class="city-list">

                  {% for elem in city_list %}
                    <a href="/{{ elem }}"><li class="city-item">{{ elem }}</li></a>
                  {% endfor %}

                </ul>
              </div>
              </div>
            </div>

            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  </div>


    <main>
      <section class="intro wrapper" id="anch-start">
        <div class="intro-img">
          <p class="intro-text">
            Prowork-твой<br />
            личный мастер!
          </p>
        </div>
        <div class="intro-contacts">
          <p><i class="fas fa-phone-alt"></i>(961)1686-004</p>
          <p><i class="fas fa-map-marker-alt"></i> <a id="second_btn" href="#">{{ city }}</a> </p>
        </div>
      </section>


      <section class="services wrapper2">
        <div class="wrapper">
        <h2 id="anch-about">О нас</h2>
        <p class="serv-desc">Сломался унитаз или течёт раковина?</p>
        <p class="serv-desc">Нужно провести розетки, а Вы не знаете как?</p>
        <p class="serv-desc">Prowork поможет!</p>
        <p class="serv-desc">Широкий спектор услуг: от сантехнических работ до электрики и работы спецтехники!</p>
        <p class="serv-desc">Почему Prowork?</p>
        <div class="serv-container">
          <div class="serv-img-container">
            <img src="{% static 'img/servroom.jpg' %}" alt="" />
          </div>
          <div class="serv-text">
            <h4>Высокое качество</h4>
            <p>
              Мы очень трепетно относимся к выполнению любых видов работ! 
              Поэтому достойное качество определённо является одной из сильных сторон Prowork. 
              Не сомневайтесь, Вы будете довольными! 
            </p>
            <h4>Квалифицированные специалисты</h4>
            <p>
              В Prowork работают только высококвалифицированные специалисты, 
              хорошо знающие своё дело. Кроме того, у работников имеются разрешение 
              на работу со специализированной техникой. 
            </p>
            <h4>Доступная цена</h4>
            <p>
              Демократические цены, а также действующие скидки и акции без труда позволят выбрать необходимую Вам услугу!
            </p>
          </div>
        </div>
      </div>
      </section>

  {% endblock %}

  {% block reviews %}

        <section class="c-header">
          <h2 id="anch-feedback" class="c-header2">Наши клиенты любят нас</h2>
          <ul class="c-cards">

            <li>
              <div class="c-container">
                <div class="c-header-body">
                  <a href="#" class="c-header-logo">
                    <img src="{% static 'img/avatar_man.jpg' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Михаил Р.</h4>
                    <span>18.01.2020 </span>
                  </div>
                </div>
                <div class="feedback-text">
                  <p>
                    Ребята хорошие и веселые, но разобраться до конца не смогли...
                    Оплату, к удивлению, за не выполненную работу не взяли!
                    Обещали обдумать ситуацию и заехать ещё. Ждём)
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="c-container">
                <div class="c-header-body">
                  <a href="#" class="c-header-logo">
                    <img src="{% static 'img/avatar_girl.png' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Марина Ж.</h4>
                    <span>26.01.2020</span>
                  </div>
                </div>
                <div class="feedback-text">
                  <p>
                  1) Добросовестная работа сотрудников компании. 
                  2) Хорошие цены на услуги. 
                  3) после того как позвонила, приехал мастер. 
                  4) Вызывала для установки электрики. За пару часов всё выполнил.
                </p>
                </div>
              </div>
            </li>

            <li>
              <div class="c-container">
                <div class="c-header-body">
                  <a href="#" class="c-header-logo">
                    <img src="{% static 'img/avatar_girl.png' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Наталья С.</h4>
                    <span>20.02.2020</span>
                  </div>
                </div>
                <div class="feedback-text">
                  <p>
                    Срочно нужен был электрик. Позвонила - приехал в течение 15 минут, всё сделал. Осталась довольна!  
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="c-container">
                <div class="c-header-body">
                  <a href="#" class="c-header-logo">
                    <img src="{% static 'img/avatar_man.jpg' %}" alt="">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Устин Л.</h4>
                    <span>06.02.2020</span>
                  </div>
                </div>
                <div class="feedback-text">
                  <p>
                    Отличная команда,сделали весь объем за один день,сэкономили много времени!
                    спасибо! 
                  </p>
                </div>
              </div>
            </li>

          </ul>
        </section>

    {% endblock %}
    
    </main>
